---
import Base from "../layouts/Base.astro";
import PurpurLogo from "../components/PurpurLogo.astro";

const title = '404';
const description = 'It\'s your way, but not this way.';
const permalink = Astro.site.href;
const current = '404';
---

<Base title={title} description={description} permalink={permalink} current={current}>
  <section class="hero">
    <PurpurLogo/>
    <div>
      <h1>404</h1>
      <h2>{description}</h2>
      <a href="/">Hey look, it's a homepage!</a>
    </div>
  </section>
</Base>

<style lang="scss">
  .hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-block: 12rem;
  }

  @media (max-width: 940px) {
    .hero {
      padding-block: 2rem;
    }
  }


</style>
