---
import PurpurBuild from "@util/PurpurBuild";

export interface Props {
  build: PurpurBuild;
}

const { build } = Astro.props;
---

<article class="entry">
  <div class="key">
    <a href={build.getDownloadUrl()}>
      <button
          disabled={build.result !== "SUCCESS"}
          title={build.result !== "SUCCESS" ? "Build failed" : "Download build"}
      >
        {
          build.result !== "SUCCESS" && (
                <span>✗</span>
          )
        }
        {
          build.result === "SUCCESS" && (
                <img src="/images/download.svg" alt="" aria-hidden="true">
          )
        }

        <span>{build.build}</span>
      </button>
    </a>
    <span class="date" data-timestamp={build.timestamp}></span>
  </div>
  <ul aria-label="changelog" class="changelog">
    {
      build.metadata !== null && Object.keys(build.metadata).length !== 0 && (
            <li class="metadata">
              {
                build.metadata.type === "experimental" && (
                      <div class="build-flag warn"><span>Experimental build</span></div>
                )
              }
            </li>
      )
    }
    {
      build?.commits.length > 0
        ? build.commits.map(commit =>
              <li class="commit">
                <span set:html={commit.description}></span>
                <span class="signature">
                              <span class="commit-author">~{commit.author}</span>
                              <span>
                                <span>(</span>
                                <a target="_blank" rel="noreferrer" href=`https://github.com/PurpurMC/Purpur/commit/${commit.hash}`>{commit.hash?.substring(0, 8)}</a>
                                <span>)</span>
                              </span>
                            </span>
              </li>
        )
        : <p>No changes</p>
    }
  </ul>
</article>

<style lang="scss" is:global>
  .entry {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: start;
    padding: 1rem;
    margin: 0.5rem;
    gap: 2rem;
    width: 100%;

    .key {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      min-height: 3.5rem;
      min-width: 6rem;

      .date {
        font-size: 0.7rem;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    a {
      text-decoration: none;
    }

    .changelog {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: min(20rem, 100%);
      gap: 0.25rem;

      li {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }

      .commit {
        outline-offset: 0.2rem;
        border-radius: 0.25rem;
        padding: 0.2rem;
        transition: padding-left 0.2s;

        a {
          color: var(--link);
          position: relative;

          &::after {
            bottom: 0;
            left: 0;
            position: absolute;
            content: '';
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            transition: border-color 0.1s linear;
            width: 100%;
          }

          &:hover {
            &::after {
              border-bottom: 1px solid rgba(255, 255, 255, 1);
            }
          }
        }

        &:hover {
          padding-left: 0.5rem;
        }

        .signature {
          display: flex;
          font-size: 0.8rem;
          gap: 0.15rem;



          .commit-author {
            color: #b6b6b6;
          }
        }
      }

      .build-flag {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: fit-content;
        padding-inline: .5rem;
        padding-block: 0.1rem;
        border-radius: 0.25rem;
        line-height: 1;
        gap: 0.5rem;

        &.warn {
          background-color: #c44601;

          span {
            color: inherit;
          }

          &::before {
            content: '⚐';
            color: inherit;
            font-weight: bold;
            font-size: 1.5rem;
            transform: translateY(0.1rem);
          }
        }

        &.danger {
          background-color: #930d0d;

          &::before {
            content: '⚠';
            color: white;
            font-weight: bold;
            font-size: 1.5rem;

          }
        }
      }
    }
  }
</style>
